@model mktSystem.Models.FornecedorDTO;
@{
    Layout="_AdmLayout";
}
<h3>Editar Fornecedor</h3>
<hr>
<form class="form-horizontal" asp-action="Atualizar" asp-controller="Fornecedor" method="POST">
    <input type="hidden" asp-for="Id">
    
    <label asp-for="Nome">Nome</label>
    <input type="text" asp-for="Nome" class="form-control" placeholder="Nome da Fornecedor">
    <span asp-validation-for="Nome"></span>
    
    <label asp-for="Email">Email</label>
    <input type="text" asp-for="Email" class="form-control" placeholder="E-mail">
    <span asp-validation-for="Email"></span>
    
    <label asp-for="Telefone">Telefone</label>
    <input type="text" asp-for="Telefone" class="form-control" placeholder="99 9 99999999">
    <span asp-validation-for="Telefone"></span>
    <br>
    <button class="btn btn-success">Gravar</button>
</form>  